@model SSOApp.ViewModels.ModuleFieldValueListViewModel

@{
    ViewData["Title"] = Model.ModuleLabel;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="float:right;">
    @foreach (var claim in Model.UserClaim)
    {
        if (claim.ClaimName == "Add")
        {
            <a href="@Url.Content("~/Generic/Create?moduleId="+Model.ID)"><input type="button" class="btn btn-success" name="btnCreate" value="Add" /></a>
        }
    }
</div>
<table class="table">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn dc in Model.List.Tables[0].Columns)
            {

                <th>@dc</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow dr in Model.List.Tables[0].Rows)
        {
            <tr>
                @foreach (System.Data.DataColumn myColumn in Model.List.Tables[0].Columns)
                {
                    <td>@dr[myColumn.ColumnName].ToString()</td>
                }
                <td>
                    @foreach (var claim in Model.UserClaim)
                    {
                        if (claim.ClaimName == "Edit" || claim.ClaimName == "Update")
                        {
                            <a href="@Url.Content("~/Generic/Create?moduleId=" + Model.ID + "&recID=" + dr[0])"><input type="button" class="btn btn-success" name="btnCreate" value="Edit" /></a>
                        }
                        if (claim.ClaimName == "Delete")
                        {
                            <input type="button" class="btn btn-danger" name="btnDelete" value="Delete" />
                        }
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
