@model SSOApp.ViewModels.ModuleViewModel
@{
    ViewData["Title"] = "Roles";
}

<div class="container">
    <div class="card-header">
        <h1>Add Module</h1>
    </div>


    <p>

        @if (TempData["Success"] != null)
        {
            <label class="bg-success">@TempData["Success"]</label>
            TempData["Success"] = null;
        }
        @if (TempData["Failed"] != null)
        {
            <label class="bg-danger">@TempData["Failed"]</label>
            TempData["Failed"] = null;
        }
    </p>

    <div class="row">
        <div class="col-md-4">
            <form asp-controller="ModuleManagement" asp-action="Edit" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly">
                    <span>Please correct the following errors</span>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="ModuleLabel" class="control-label">Module Label</label>
                        <input asp-for="ModuleLabel" class="form-control" />
                        <span asp-validation-for="ModuleLabel" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" name="btnSubmit" value="Save" class="btn btn-primary" />
                        <a href="@Url.Content("~/ModuleManagement/Index")"><input type="button" name="btnCancel" value="Cancel" class="btn btn-secondary" /></a>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>